@model AgriculturePrensentation.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Profil Güncelleme Sayfası</h4>

                  <form class="forms-sample" method = "post">
                    <div class="form-group">
                 
                      <label>Mail Adresi</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="mail adresini giriniz" asp-for ="Mail">
                    </div>
                    <div class="form-group">
                      <label>Telefon Numarası</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="telefon numaranızı giriniz" asp-for ="Phone">
                    </div>
                    <div class="form-group">
                      <label>Şifre</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="yeni şifrenizi giriniz" asp-for ="Password">
                    </div>
                    <div class="form-group">
                      <label>Şifre Tekrar</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="tekrar yeni şifrenizi giriniz" asp-for ="ConfirmPassword">
                    </div>
                    

                    <button type="submit" class="btn btn-outline-info">Kaydet</button>
                  </form>
                </div>
              </div>
            </div>




